= form_for(@prototype, html: { class: 'container proto-new' }) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        .proto-new-title
          = f.text_field :title, placeholder: "Title"
    .row
      .col-md-12
        .cover-image-upload#sub_img0
          = f.fields_for :pictures, (@prototype.pictures.main[0]) do |pic|
            = image_tag(@prototype.pictures.main[0].thumbnail)
            = pic.file_field :thumbnail, class: 'file_zone0'
            = pic.hidden_field :status, value: 'main'

      %ul.proto-sub-list.list-group
        %li.list-group-item.col-md-4
          .image-upload#sub_img1
            = f.fields_for :pictures, (@prototype.pictures.sub[0]) do |pic|
              = image_tag(@prototype.pictures.sub[0].thumbnail) if @prototype.sub_img
              = pic.file_field :thumbnail, class: 'file_zone1'
              = pic.hidden_field :status, value: 'sub'
      %ul.proto-sub-list.list-group
        %li.list-group-item.col-md-4
          .image-upload#sub_img2
            = f.fields_for :pictures, (@prototype.pictures.sub[1]) do |pic|
              = image_tag(@prototype.pictures.sub[1]) if @prototype.sub_img
              = pic.file_field :thumbnail, class: 'file_zone2'
              = pic.hidden_field :status, value: 'sub'
      %ul.proto-sub-list.list-group
        %li.list-group-item.col-md-4
          .image-upload#sub_img3
            = f.fields_for :pictures, (@prototype.pictures.sub[2]) do |pic|
              = image_tag(@prototype.pictures.sub[2]) if @prototype.sub_img
              = pic.file_field :thumbnail, class: 'file_zone3'
              = pic.hidden_field :status, value: 'sub'

    .row.proto-description
      .col-md-12
        = f.text_field :catchcopy, placeholder: "Catch Copy"
      .col-md-12
        = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            = text_field_tag "prototype[label][]", "", placeholder: "Web Design"
            = text_field_tag "prototype[label][]", "", placeholder: "UI"
            = text_field_tag "prototype[label][]", "", placeholder: "Application"
    .row.text-center.proto-btn
      = f.submit 'Publish', class: "button btn btn-lg btn-primary btn-block"  
