.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %img.media-object
            = image_tag @prototype.user.avatar, size: "64x64", alt: "64x64"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.nickname}", user_path(@prototype.user)
            %span.degree
            = @prototype.user.group

    .col-md-6.text-right#like_button
      = render partial: 'likes/like', locals: { prototype: @prototype, likes: @likes }

  .row
    .col-md-9
      = image_tag @prototype.pictures.main[0].thumbnail, class: 'img-responsive'
    - if @prototype.pictures.sub.present?
      .col-md-3
        %ul.proto-sub-list.list-group
          %li.list-group-item
          - @prototype.pictures.sub.each do |sub|
            = image_tag sub.thumbnail, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
      = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
      = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inlines
      - @prototype.labels.each do |label|
        =link_to label.name, tag_path(label.name), class: 'btn btn-default'

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
      = @prototype.comments_count
    #comments.col-md-8
      = render @comments

    - if user_signed_in?
      = form_for [@prototype, @comment], remote: true do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :comment, placeholder: "Your comments", rows: "3", class: "textarea form-control", id: "comment_area"
          .form-group.col-md-2
            = f.submit 'Comment', class: "button btn btn-primary"
